
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    overflow: scroll;

    .logo {
        max-width: 250px;
        margin: 0;
    }

    form {
        width: 90%;
        .form-group-error{
            border: 1px solid #d20043!important;
        }
        .resetPass {
            text-align: right;
        }
        .error {
            margin: 15px 0;
            font-size: 16px;
            text-align: center;
            color: #CB5361;
        }
        .form-group {
            position: relative;
            margin-bottom: 20px;
            padding: 5px 20px;
            padding-left: 50px;
            border: 1px solid #CED0D2;
            border-radius: 6px;
            box-shadow: 0 3px 4px #378ADB(96, 100, 112, 0.10);
            ion-label {
                position: absolute;
                top: 12px;
                left: 16px;
                font-size: 1.2em;
                color: #B0B2B8;
            }
            .native-input {
                font-size: 16px;
                color: #378ADB!important;
                box-shadow: #378ADB, 10px;
                opacity: 0.5;
                &:focus {
                    opacity: 1;
                }
            }
        }
    }

    footer {
        margin: 50px 0 10px 0;
        p {
            margin: 0;
            font-size: 10px;
            text-align: center;
            color: #606470;
        }
    }
}



