.logo {
    margin-top: 5%;
    padding: 60px;
}

ion-img {
    display: block;
    max-width: 240px;
    margin: 0 auto;
}

form {
    padding: 0 30px;
}

.form-group {
    position: relative;
    height: 48px;
    margin-bottom: 20px;
    padding: 5px 20px;
    padding-left: 50px;
    border: 1px solid #CED0D2;
    border-radius: 6px;
    box-shadow: 0 3px 4px #378ADB(96, 100, 112, 0.10);
    ion-label {
        position: absolute;
        top: 12px;
        left: 16px;
        font-size: 1.2em;
        color: #B0B2B8;
    }
    .native-input {
        font-size: 16px;
        color: #378ADB!important;
        box-shadow: #378ADB , 10px;
        opacity: 0.5;
        &:focus {
            opacity: 1;
        }
    }
}

p {
    display: block;
    font-size: 14px;
    text-align: right;

    a {
        color: #606470;
    }
}
.btn {
    background: linear-gradient(#378ADB, #61A8FB);
    box-shadow: 0 6px 8px #89B4E7;
}

.no-scroll .scroll-content {
    overflow: hidden;
}

.login-form {
    position: relative;
}

.error {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    font-size: 16px;
    text-align: center;
    color: #CB5361;
}

footer {
    margin-top: 120px;
    p {
        margin: 0;
        font-size: 10px;
        text-align: center;
        color: #606470;
    }
}