<ion-header class="main-header">
  <ion-toolbar class="main-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Telecom Car
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" class="map"></div>
  <div class="map-current-location">
    <h2 class="animated" [ngClass]="{'fadeInUp': location.from.address}">
      {{location.from.address}}</h2>
  </div>
  <div id="panTo" class="cbutton cbutton--effect-novak" (click)="onPanTo()">
    <ion-icon icon="icon-only" name="navigate"></ion-icon>
  </div>
  <div class="map-order-from">
    <ion-item>
      <ion-icon slot="start" color="warning" name="pin"></ion-icon>
      <ion-label>{{location.from.address}}</ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label (click)="onModal()">{{location.to.address}}</ion-label>
      <ion-buttons slot="end">
        <ion-button [disabled]="!markers.pinB" (click)="onClearTo()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <button [disabled]="!markers.pinB" shape="round" class="order-accept btn" (click)="onSubmit()" expand="block"
              fill="clear">Подтвердить локацию
      </button>
    </ion-item>
  </div>
</ion-content>
