<ion-header class="main-header">
  <ion-toolbar class="main-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Telecom Car
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" class="map"></div>
  <div class="map-current-location">
    <h1>{{currentLocationAddress}}</h1>
  </div>
<div id="panTo" class="cbutton cbutton--effect-novak" (click)="onPanTo()">
  <ion-icon icon="icon-only" name="navigate"></ion-icon>
</div>

  <div class="map-order-from"><ion-input type="text" placeholder="Откуда?">
    <ion-icon slot="icon-only" name="compass"></ion-icon></ion-input>
  </div>
  <button shape="round" class="order-accept btn" (click)="onSubmit()" expand="block" fill="clear">Подтвердить локацию</button>
</ion-content>
