ion-header {
  height: auto;
  box-shadow: none;
  ion-title {
    text-align: left;
    padding-left: 10px;
  }
  ion-input {
    font-weight: 400;
    font-size: 16px;
    ion-icon {
      margin-right: 5px;
      color: #0054dc;
    }
  }
}
#addressesNotFound {
  text-align: center;
  color: #a0a0a0;
}
