<ion-header class="main-header">
  <ion-toolbar class="main-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Telecom Car
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/user/notification']">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" class="map"></div>
  
  <!-- Oddiy -->
  <ng-container *ngIf="currentStatus === 0">
    <div class="map-current-location">
      <h2 class="animated" [ngClass]="{'fadeInUp': location.from.address}">
        {{location.from.address}}</h2>
    </div>
    <div id="panTo" [ngClass]="{'panToTop': markers.pinB}" class="cbutton cbutton--effect-novak" (click)="onPanTo()">
      <ion-icon icon="icon-only" name="navigate"></ion-icon>
    </div>

    <div class="toButton" [ngClass]="{'hide': markers.pinB}">
      <ion-item lines="full">
        <ion-icon slot="start" name="pin"></ion-icon>
        <ion-label (click)="onModal()">{{location.to.address}}</ion-label>
      </ion-item>
    </div>

    <div class="map-order-from animated" [ngClass]="{'hide': !markers.pinB, 'slideInUp': markers.pinB}">
      <ion-item>
        <ion-icon slot="start" color="warning" name="pin"></ion-icon>
        <ion-label>{{location.from.address}}</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-icon slot="start" name="pin"></ion-icon>
        <ion-label (click)="onModal()">{{location.to.address}}</ion-label>
        <ion-buttons slot="end">
          <ion-button [disabled]="!markers.pinB" (click)="onClearTo()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item>
        <button [disabled]="!markers.pinB" shape="round" class="btn btn-orange" (click)="onSubmit()" expand="block"
          fill="clear">Подтвердить локацию
        </button>
      </ion-item>
    </div>
  </ng-container>

  <!-- Aktivniy zakaz -->
  <ng-container *ngIf="currentStatus === 10">
    <div class="order">
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle><h5>Статус заказа:</h5><h3>Активный</h3></ion-card-subtitle>
              <ion-card-title><p>Ищем свободную машину, ожидайте...</p></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="map-order-from">
                <ion-icon slot="icon-only" name="pin"></ion-icon> Улица Нуронийлар
              </div>
              <div class="map-order-to">
                <ion-icon slot="icon-only" name="compass"></ion-icon> метро Чиланзар
              </div>
              <ion-buttons>
                <ion-button shape="round" class="button accept" expand="block" fill="clear">Отменить</ion-button>
                <!-- <ion-button shape="round" class="button reject" expand="block" fill="clear">Отменить</ion-button> -->
              </ion-buttons>
            </ion-card-content>
          </ion-card>
    </div>
  </ng-container>

  <ng-container *ngIf="currentStatus === 45">
    <div class="order">
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle><h5>Статус заказа:</h5><h3>Принят</h3></ion-card-subtitle>
              <ion-card-title><p>Водитель в пути...</p></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="map-order-from">
                <ion-icon slot="icon-only" name="pin"></ion-icon> Улица Нуронийлар
              </div>
              <div class="map-order-to">
                <ion-icon slot="icon-only" name="compass"></ion-icon> метро Чиланзар
              </div>
              <ion-buttons>
                <ion-button shape="round" class="button accept" expand="block" fill="clear">Отменить</ion-button>
                <!-- <ion-button shape="round" class="button reject" expand="block" fill="clear">Отменить</ion-button> -->
              </ion-buttons>
            </ion-card-content>
          </ion-card>
    </div>
  </ng-container>

  <ng-container *ngIf="currentStatus === 50">
    <div class="order">
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle><h5>Статус заказа:</h5><h3>Принят</h3></ion-card-subtitle>
              <ion-card-title><p>Водитель на месте...</p></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="map-order-from">
                <ion-icon slot="icon-only" name="pin"></ion-icon> Улица Нуронийлар
              </div>
              <div class="map-order-to">
                <ion-icon slot="icon-only" name="compass"></ion-icon> метро Чиланзар
              </div>
              <ion-buttons>
                <ion-button shape="round" class="button accept" expand="block" fill="clear">Поехали</ion-button>
                <!-- <ion-button shape="round" class="button reject" expand="block" fill="clear">Отменить</ion-button> -->
              </ion-buttons>
            </ion-card-content>
          </ion-card>
    </div>
  </ng-container>
</ion-content>