ion-card {
  & img{
    max-width: 100px!important;
    margin: 0 auto;
  }
  box-shadow: none;
  border: none;
  & > ion-buttons {
    position: absolute;
    right: 0;
    top: 10px;
  }
  & > ion-card-content {
    padding: 0!important;
    .btn{
      margin: 30px auto 20px auto;
      width: 90%;
    }
  }
}