<ion-header class="main-header">
    <ion-toolbar class="main-toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            История поездок
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label>
                    A location
                </ion-label>
                <ion-icon name="pin" slot="start" color="primary"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-label>
                    B Location
                </ion-label>
                <ion-icon name="pin" slot="start" color="primary"></ion-icon>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label>
                    A location
                </ion-label>
                <ion-icon name="pin" slot="start" color="primary"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-label>
                    B Location
                </ion-label>
                <ion-icon name="pin" slot="start" color="primary"></ion-icon>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>
